@use '../../colors' as c;

.main {
    flex: 1;
    padding: 2em;
}

.sectionMain {
    h1 {
        margin-bottom: 2em;
    }

    // margin-bottom: 2em;
}

.sectionsWrapper {
    display: flex;
    flex-direction: column;
    gap: 2em;
    height: 100%;
}